.root{
  width: min(var(--container), calc(100% - (var(--gutter) * 2)));
  margin: 0 auto;
}

.wide{
  width: min(calc(var(--container) + 240px), calc(100% - (var(--gutter) * 2)));
  margin: 0 auto;
}

